* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.query {
  display: block;
  width: 80%;
  margin: 20px auto 0;
  padding: 10px 15px;
  border-radius: 10px;
}

.location {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.location span {
  font-weight: normal;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 25px;
  margin: 20px 10px 0;
  box-shadow: 0 5px 10px -5px;
}

#weather-regular {
  background-color: aqua;
}

#weather-sunny {
  background-color: #f9d71c;
}

#weather-thunder,
#weather-rain {
  background-color: #003366;
}

#weather-snow {
  background-color: #fffafa;
}

#weather-misty {
  background-color: #e9eceb;
}

.conditions i {
  font-size: 50px;
}

.conditions p:first-of-type {
  font-size: 28px;
  margin: 10px 0;
  font-weight: bold;
}

.conditions p:nth-of-type(2),
.temperature p:nth-of-type(2) {
  font-size: 12px;
  margin: 5px 0;
}

.temperature p:first-of-type {
  font-size: 60px;
  margin: 0;
  font-weight: bold;
}
